.is_header_semitransparent .navbar-default {
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
}

.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
}

.logo img,
.navbar-header .logo img {
  max-width: 143px;
}

::selection {
  color: #ffffff;
  background: #f8bf00;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #f8bf00;
}

a {
  color: #f8bf00;
}

a:focus,
a:visited,
a:hover {
  color: #f8bf00;
}

/*------------------------------------------------------------------COLOR------------------------------------------------------------------*/
a,
a:hover,
a:focus,
.mt_car--tax-type,
.widget_popular_recent_tabs .nav-tabs li.active a,
.widget_product_categories .cat-item:hover,
.widget_product_categories .cat-item a:hover,
.widget_archive li:hover,
.widget_archive li a:hover,
.widget_categories .cat-item:hover,
.widget_categories li a:hover,
.pricing-table.recomended .button.solid-button,
.pricing-table .table-content:hover .button.solid-button,
.pricing-table.Recommended .button.solid-button,
.pricing-table.recommended .button.solid-button,
#sync2 .owl-item.synced .post_slider_title,
#sync2 .owl-item:hover .post_slider_title,
#sync2 .owl-item:active .post_slider_title,
.pricing-table.recomended .button.solid-button,
.pricing-table .table-content:hover .button.solid-button,
.testimonial-author,
.testimonials-container blockquote::before,
.testimonials-container blockquote::after,
.post-author > a,
h2 span,
label.error,
.author-name,
.prev-next-post a:hover,
.prev-text,
.wpb_button.btn-filled:hover,
.next-text,
.social ul li a:hover i,
.wpcf7-form span.wpcf7-not-valid-tip,
.text-dark .statistics .stats-head *,
.wpb_button.btn-filled,
footer ul.menu li.menu-item a:hover,
.widget_meta a:hover,
.widget_pages a:hover,
.blogloop-v1 .post-name a:hover,
.blogloop-v2 .post-name a:hover,
.blogloop-v3 .post-name a:hover,
.blogloop-v4 .post-name a:hover,
.blogloop-v5 .post-name a:hover,
.post-category-comment-date span a:hover,
.post-category-comment-date span:hover,
.list-view .post-details .post-category-comment-date i:hover,
.list-view .post-details .post-category-comment-date a:hover,
.simple_sermon_content_top h4,
.page_404_v1 h1,
.mt_cars--single-main-pic .post-name > a,
.widget_recent_comments li:hover a,
.list-view .post-details .post-name a:hover,
.blogloop-v5 .post-details .post-sticky-label i,
header.header2 .header-info-group .header_text_title strong,
.widget_recent_entries_with_thumbnail li:hover a,
.widget_recent_entries li a:hover,
.blogloop-v1 .post-details .post-sticky-label i,
.blogloop-v2 .post-details .post-sticky-label i,
.blogloop-v3 .post-details .post-sticky-label i,
.blogloop-v4 .post-details .post-sticky-label i,
.blogloop-v5 .post-details .post-sticky-label i,
.mt_listing--price-day.mt_listing--price .mt_listing_price,
.mt_listing--price-day.mt_listing--price .mt_listing_currency,
.mt_listing--price-day.mt_listing--price .mt_listing_per,
.error-404.not-found h1,
.header-info-group i,
.woocommerce form .form-row .required,
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.related.products ul.products li.product .button,
.error-404.not-found h1,
.header-info-group i,
body .lms-course-infos i,
.action-expand::after,
.list-view .post-details .post-excerpt .more-link:hover,
.header4 header .right-side-social-actions .social-links a:hover i,
#navbar .menu-item.selected > a,
#navbar .menu-item:hover > a,
.sidebar-content .widget_nav_menu li a:hover,
.mt-icon-list-item:hover p span,
.blog-posts-shortcode-v2 .post-details .post-category {
  color: #f8bf00;
}

.woocommerce a.remove {
  color: #f8bf00 !important;
}

/* NAVIGATION */
.navstyle-v8.header3 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v8.header3 #navbar .menu > .menu-item:hover > a,
.navstyle-v1.header3 #navbar .menu > .menu-item:hover > a,
.navstyle-v1.header2 #navbar .menu > .menu-item:hover > a,
#navbar ul.sub-menu li a:hover,
.navstyle-v4 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v4 #navbar .menu > .menu-item:hover > a,
.navstyle-v3 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v3 #navbar .menu > .menu-item:hover > a,
.navstyle-v3 #navbar .menu > .menu-item > a::before,
.navstyle-v3 #navbar .menu > .menu-item > a::after,
.navstyle-v2 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v2 #navbar .menu > .menu-item:hover > a,
#navbar .menu-item.selected > a,
#navbar .menu-item:hover > a {
  color: #f8bf00;
}

.navstyle-v2.header3 #navbar .menu > .menu-item > a::before,
.navstyle-v2.header3 #navbar .menu > .menu-item > a::after,
.navstyle-v8 #navbar .menu > .menu-item > a::before,
.navstyle-v7 #navbar .menu > .menu-item .sub-menu > .menu-item > a:hover,
.navstyle-v7 #navbar .menu > .menu-item.current_page_item > a,
.navstyle-v7 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v7 #navbar .menu > .menu-item:hover > a,
.navstyle-v6 #navbar .menu > .menu-item.current_page_item > a,
.navstyle-v6 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v6 #navbar .menu > .menu-item:hover > a,
.navstyle-v5 #navbar .menu > .menu-item.current_page_item > a,
.navstyle-v5 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v5 #navbar .menu > .menu-item:hover > a,
.navstyle-v2 #navbar .menu > .menu-item > a::before,
.navstyle-v2 #navbar .menu > .menu-item > a::after {
  background: #f8bf00;
}

/* Color Dark / Hovers */
footer .footer-top .menu li.menu-item:hover a,
.related-posts .post-name:hover a {
  color: #f8bf00 !important;
}

/*------------------------------------------------------------------BACKGROUND + BACKGROUND-COLOR------------------------------------------------------------------*/
.tagcloud > a:hover,
.modeltheme-icon-search,
.wpb_button::after,
.rotate45,
.latest-posts .post-date-day,
.latest-posts h3,
.latest-tweets h3,
.latest-videos h3,
.button.solid-button,
button.vc_btn,
.pricing-table.recomended .table-content,
.pricing-table .table-content:hover,
.pricing-table.Recommended .table-content,
.pricing-table.recommended .table-content,
.pricing-table.recomended .table-content,
.pricing-table .table-content:hover,
.block-triangle,
.owl-theme .owl-controls .owl-page span,
body .vc_btn.vc_btn-blue,
body a.vc_btn.vc_btn-blue,
body button.vc_btn.vc_btn-blue,
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
#subscribe > button[type="submit"],
.social-sharer > li:hover,
.prev-next-post a:hover .rotate45,
.masonry_banner.default-skin,
.form-submit input,
.member-header::before,
.member-header::after,
.member-footer .social::before,
.member-footer .social::after,
.subscribe > button[type="submit"],
.no-results input[type="submit"],
h3#reply-title::after,
.newspaper-info,
header.header1 .header-nav-actions .shop_cart,
.categories_shortcode .owl-controls .owl-buttons i:hover,
.widget-title:after,
h2.heading-bottom:after,
.single .content-car-heading:after,
.wpb_content_element
  .wpb_accordion_wrapper
  .wpb_accordion_header.ui-state-active,
#primary .main-content ul li:not(.rotate45)::before,
.wpcf7-form .wpcf7-submit,
ul.ecs-event-list li span,
#contact_form2 .solid-button.button,
.navbar-default .navbar-toggle .icon-bar,
.modeltheme-search .search-submit,
.pricing-table.recommended .table-content .title-pricing,
.pricing-table .table-content:hover .title-pricing,
.pricing-table.recommended .button.solid-button,
.blogloop-v5 .absolute-date-badge span,
.post-category-date a[rel="tag"],
.cryptic_preloader_holder,
.mt_car--single-gallery.mt_car--featured-single-gallery:hover,
footer .mc4wp-form-fields input[type="submit"],
.modeltheme-pagination.pagination .page-numbers.current,
.pricing-table .table-content:hover .button.solid-button,
footer .footer-top .menu .menu-item a::before,
.mt-car-search .submit .form-control,
.blogloop-v4.list-view .post-date,
header .top-header,
.navbar-toggle .icon-bar,
.back-to-top,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
table.compare-list .add-to-cart td a,
body.woocommerce ul.products li.product .onsale,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.remove:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce.single-product .wishlist-container .yith-wcwl-wishlistaddedbrowse,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.hover-components .component a:hover,
.related.products span.onsale,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
table.compare-list .add-to-cart td a,
.shop_cart,
.back-to-top,
#commentform .form-submit input[type="submit"],
.widget.widget_product_search button,
.search-form input[type="submit"],
.list-view .post-details .post-excerpt .more-link,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
table.compare-list .add-to-cart td a,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #respond input#submit.alt,
.lp-quiz-buttons button,
button.button,
button.lp-button,
.learnpress-page .lp-button,
.button#learn-press-checkout-place-order,
.single-lp_course .button.purchase-button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
table.compare-list .add-to-cart td a,
.woocommerce #respond input#submit.alt,
.single-product .add_to_wishlist,
.single-product .yith-wcwl-wishlistexistsbrowse a,
#listings_metaboxs input[type="submit"],
.mt_listing--single-price-inner,
input.wpcf7-form-control.wpcf7-submit,
.post-password-form input[type="submit"],
.lp-quiz-buttons button,
button.button,
button.lp-button,
.learnpress-page .lp-button,
.button#learn-press-checkout-place-order,
.single-lp_course .button.purchase-button,
.widget.widget_product_search button,
.search-form input[type="submit"],
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a,
.post-password-form input[type="submit"],
.stats-content .skill-count::after,
#cd-timeline::before,
.member01_social a:hover {
  background: #f8bf00;
}

.cd-timeline-content {
  box-shadow: 0 3px 0 #f8bf00;
}

body .courses-list .featured_image_courses .course_badge i,
.single-product.woocommerce span.onsale,
.header_mini_cart .button.wc-forward,
.header_mini_cart .button.checkout,
.woocommerce ul.products li.product .onsale,
body .woocommerce ul.products li.product .onsale,
body .woocommerce ul.products li.product .onsale,
.blog-posts-shortcode .time-n-date {
  background-color: #f8bf00 !important;
}

.single-product .yith-wcwl-add-button a.add_to_wishlist:hover,
#commentform .form-submit input[type="submit"]:focus,
.widget.widget_product_search button:hover,
.search-form input[type="submit"]:hover,
.list-view .post-details .post-excerpt a.more-link:hover,
.single-product .add_to_wishlist:hover,
.single-product .yith-wcwl-wishlistexistsbrowse a:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
table.compare-list .add-to-cart td a:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.modeltheme-search.modeltheme-search-open .modeltheme-icon-search,
.no-js .modeltheme-search .modeltheme-icon-search,
.modeltheme-icon-search:hover,
.latest-posts .post-date-month,
.button.solid-button:hover,
body .vc_btn.vc_btn-blue:hover,
body a.vc_btn.vc_btn-blue:hover,
.post-category-date a[rel="tag"]:hover,
.single-post-tags > a:hover,
body button.vc_btn.vc_btn-blue:hover,
.blogloop-v5 .absolute-date-badge span:hover,
.mt-car-search .submit .form-control:hover,
#contact_form2 .solid-button.button:hover,
.subscribe > button[type="submit"]:hover,
footer .mc4wp-form-fields input[type="submit"]:hover,
.no-results.not-found .search-submit:hover,
#listings_metaboxs input[type="submit"]:hover,
.no-results input[type="submit"]:hover,
ul.ecs-event-list li span:hover,
.pricing-table.recommended .table-content .price_circle,
.pricing-table .table-content:hover .price_circle,
#modal-search-form .modal-content input.search-input,
.wpcf7-form .wpcf7-submit:hover,
.form-submit input:hover,
.blogloop-v4.list-view .post-date a:hover,
.pricing-table.recommended .button.solid-button:hover,
.search-form input[type="submit"]:hover,
.modeltheme-pagination.pagination .page-numbers.current:hover,
.error-return-home.text-center > a:hover,
.pricing-table .table-content:hover .button.solid-button:hover,
.post-password-form input[type="submit"]:hover,
.navbar-toggle .navbar-toggle:hover .icon-bar,
.back-to-top:hover,
.woocommerce #respond input#submit:hover,
.lp-quiz-buttons button:hover,
button.button:hover,
button.lp-button:hover,
.learnpress-page .lp-button:hover,
.button#learn-press-checkout-place-order:hover,
.single-lp_course .button.purchase-button:hover,
.woocommerce a.button:hover,
.widget.widget_product_search button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
table.compare-list .add-to-cart td a:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.post-password-form input[type="submit"]:hover {
  background: #f8bf00;
}

.tagcloud > a:hover {
  background: #f8bf00 !important;
}

.hover-components .component a,
.woocommerce ul.cart_list li a::before,
.woocommerce ul.product_list_widget li a::before,
.flickr_badge_image a::after,
.thumbnail-overlay,
.portfolio-hover,
.pastor-image-content .details-holder,
.item-description .holder-top,
blockquote::before {
  background: rgba(255, 214, 0, 0.7);
}

/*------------------------------------------------------------------BORDER-COLOR------------------------------------------------------------------*/
.author-bio,
blockquote,
.widget_popular_recent_tabs .nav-tabs > li.active,
body .left-border,
body .right-border,
body .member-header,
body .member-footer .social,
body .button[type="submit"],
.navbar ul li ul.sub-menu,
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
#contact-us .form-control:focus,
.sale_banner_holder:hover,
.testimonial-img,
.wpcf7-form input:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.header_mini_cart .woocommerce .widget_shopping_cart .total,
.header_mini_cart .woocommerce.widget_shopping_cart .total,
.header_mini_cart,
.header_mini_cart.visible_cart,
.wpcf7-form textarea:focus,
.navbar-default .navbar-toggle:hover,
.header_search_form,
body .course-review-head,
body .course-content > h3:first-child,
body .course-curriculum-title,
.list-view .post-details .post-excerpt .more-link:hover {
  border-color: #f8bf00;
}

header .navbar-toggle,
.navbar-default .navbar-toggle {
  border: 3px solid #f8bf00;
}

body.is_header_semitransparent #navbar .menu > .menu-item > a {
  color: #fff !important;
}

.to_whitepaper2 a {
  border-color: #f8bf00 !important;
}

.to_whitepaper2 a:hover {
  border-color: #f8bf00 !important;
}
